# ==========================================
# Infrastructure Variables
# ==========================================
# Kafka
KAFKA_BROKER=kafka:29092
KAFKA_TOPIC=audit-log

# Schema Registry
SCHEMA_REGISTRY_URL=http://schema-registry:8081

# Elasticsearch
ES_URL=http://elasticsearch:9200

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=audit-log-archive

# Kafka Connect
CONNECT_URL=http://kafka-connect:8083

# ==========================================
# Application Variables
# ==========================================
# Go API
API_PORT=8080

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8080
